
<div class="row" id="headingRow">
        <div  id="headingText" class="col-xs-12" >
            <h1><span style="font-family: 'Pacifico', cursive;color:rgb(87, 98, 193)" ng-show= "nav.showOrigin"><span class="glyphicon glyphicon-flag"></span> Origin:</span>
                <span style="font-family: 'Comfortaa', cursive;font-size:20px;padding-left:12px"> {{nav.startFinish[0].origin}} </span></h1>
            <h1><span style="font-family: 'Pacifico', cursive;color:rgb(87, 98, 193)" ng-show="nav.showOrigin"><span class="glyphicon glyphicon-map-marker"></span> Destination:
                </span><span  style="font-family: 'Comfortaa', cursive;font-size:20px;padding-left:12px">{{nav.startFinish[0].destination}}</span> </h1>
        </div>
</div>
</div> <!-- end originHeader -->
<div class="row" id="mapRow">
    <div id ="mapContainer" class="col-xs-12 col-sm-6">
        <!-- ng-map -->
        <ng-map center="39,-95" zoom="4" default-style="false">
            <directions
            draggable="true"
            waypoints="{{nav.wayPoint}}"
            travel-mode="ROADMAP"
            origin= "{{nav.origin}}"
            destination="{{nav.destination}}"
            </directions>
        </ng-map>
    </div>
<!-- 39.13006&lng=-95.22949&z=5 -->
    <section class="col-xs-12 col-sm-6" id="resultsSection">

        <div ng-repeat="leg in nav.cityInfo" class="col-xs-12" id="results">
            <!-- results -->
            <h3><span style="font-family: 'Pacifico', cursive"> Origin:  </span>  {{leg.start_address}} </h3>
            <h3><span style="font-family: 'Pacifico', cursive"> Destination:  </span>
                <span style="font-family:'Comfortaa', cursive"> {{leg.end_address}}</span></h3>

            <hr>
                <row>
                    <span class="col-xs-6">Travel time: {{leg.text}}<br>
                        Arrival time: {{leg.arrival_time}}
                    </span>
                    <span class"col-xs-6">
                        <a class="btn btn-primary" ng-click="nav.getEventIndex($index)" href="/#/events">Get Events</a>
                    </span>
                </row>
            </hr>
        </div> <!--- end results -->
    </section>
</div> <!-- end maprow -->

</div> <!-- end map row -->
